<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
</head>
<body>

<header>
	
<nav>
	<div class="logo"> <h1 style="font-size: 20px;"> Crypt It </h1> </div>
	<div class="menu">
		<a href="{{ url_for('homepage',filename='homepage.html') }}">Home</a>
		<a href="{{ url_for('hello_world',filename='index.html') }}">Stegnography</a>
		<a href="https://www.youtube.com/channel/UCwfaAHy4zQUb2APNOGXUCCA" target="_blank">about</a>
		<a href="#">contact</a>
	</div>
</nav>

	<main>
		<section>
			<h3>Welcome To Crypt It</h3>
			<h1>DO COME & VISIT <span class="change_content"> </span> <span style="margin-top: -10px;"> | </span> </h1>
			<p>"We Safely Encrypt Your Plain Text"</p>
			<a href="#" class="btnone">learn more</a>
			<a href="#" class="btntwo">signup here</a>
		</section>
	</main>


</header>

</body>
</html>